
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateRole]
    @RoleId INT = NULL,                 -- Pass NULL for new insert
    @RoleName VARCHAR(50),
    @RoleDescription VARCHAR(255) = NULL,
    @IsActive BIT = 1,
    @UserId VARCHAR(50)                 -- User ID for CreatedBy / UpdatedBy
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if RoleId exists
    IF EXISTS (SELECT 1 FROM [dbo].[Roles] WHERE RoleId = @RoleId)
    BEGIN
        -- Update existing role
        -- Ensure RoleName uniqueness on update
        IF EXISTS (SELECT 1 FROM [dbo].[Roles] WHERE RoleName = @RoleName AND RoleId <> @RoleId)
        BEGIN
            RAISERROR('RoleName already exists. Cannot update to duplicate.', 16, 1);
            RETURN;
        END

        UPDATE [dbo].[Roles]
        SET 
            RoleName = @RoleName,
            RoleDescription = @RoleDescription,
            IsActive = @IsActive,
            UpdatedAt = GETDATE(),
            UpdatedBy = @UserId
        WHERE RoleId = @RoleId;
    END
    ELSE
    BEGIN
        -- Check if RoleName already exists to prevent duplicate
        IF EXISTS (SELECT 1 FROM [dbo].[Roles] WHERE RoleName = @RoleName)
        BEGIN
            RAISERROR('RoleName already exists. Cannot insert duplicate.', 16, 1);
            RETURN;
        END

        -- Insert new role
        INSERT INTO [dbo].[Roles]
            (RoleName, RoleDescription, IsActive, CreatedAt, CreatedBy)
        VALUES
            (@RoleName, @RoleDescription, @IsActive, GETDATE(), @UserId);
        
        -- Optional: Return the new RoleId
        SELECT SCOPE_IDENTITY() AS NewRoleId;
    END
END
