
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateSkillCategory]
    @SkillCategoryId INT = NULL,           -- Pass NULL for new insert
    @CategoryName VARCHAR(100),
    @Description VARCHAR(255) = NULL,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if SkillCategoryId exists
    IF EXISTS (SELECT 1 FROM [dbo].[SkillCategory] WHERE SkillCategoryId = @SkillCategoryId)
    BEGIN
        -- Update existing category
        UPDATE [dbo].[SkillCategory]
        SET
            CategoryName = @CategoryName,
            Description = @Description,
            IsActive = @IsActive,
            UpdatedOn = GETDATE()
        WHERE SkillCategoryId = @SkillCategoryId;
    END
    ELSE
    BEGIN
        -- Insert new category
        INSERT INTO [dbo].[SkillCategory]
            (CategoryName, Description, IsActive, CreatedOn)
        VALUES
            (@CategoryName, @Description, @IsActive, GETDATE());

        -- Optional: return new SkillCategoryId
        SELECT SCOPE_IDENTITY() AS NewSkillCategoryId;
    END
END
