
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateProject]
    @ProjectId INT = NULL,               -- Pass NULL for new insert
    @ProjectName VARCHAR(100),
    @ProjectCode VARCHAR(50),
    @CompanyId INT,
    @Location VARCHAR(100) = NULL,
    @CustomerName VARCHAR(100) = NULL,
    @HelplineNumber VARCHAR(20) = NULL,
    @IsActive BIT = 1,
    @UserId VARCHAR(50)                   -- User ID for CreatedBy / UpdatedBy
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if ProjectId exists
    IF EXISTS (SELECT 1 FROM [dbo].[Project] WHERE ProjectId = @ProjectId)
    BEGIN
        -- Update existing project
        UPDATE [dbo].[Project]
        SET 
            ProjectName = @ProjectName,
            ProjectCode = @ProjectCode,
            CompanyId = @CompanyId,
            Location = @Location,
            CustomerName = @CustomerName,
            HelplineNumber = @HelplineNumber,
            IsActive = @IsActive,
            UpdatedAt = GETDATE(),
            UpdatedBy = @UserId
        WHERE ProjectId = @ProjectId;
    END
    ELSE
    BEGIN
        -- Check if ProjectCode already exists to prevent duplicate
        IF EXISTS (SELECT 1 FROM [dbo].[Project] WHERE ProjectCode = @ProjectCode)
        BEGIN
            RAISERROR('ProjectCode already exists. Cannot insert duplicate.', 16, 1);
            RETURN;
        END

        -- Insert new project
        INSERT INTO [dbo].[Project]
            (ProjectName, ProjectCode, CompanyId, Location, CustomerName, HelplineNumber, IsActive, CreatedAt, CreatedBy)
        VALUES
            (@ProjectName, @ProjectCode, @CompanyId, @Location, @CustomerName, @HelplineNumber, @IsActive, GETDATE(), @UserId);
        
        -- Optional: Return the new ProjectId
        SELECT SCOPE_IDENTITY() AS NewProjectId;
    END
END
