
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateWorkerPF_ESI]
    @PFID INT = NULL,                     -- Pass NULL for new insert
    @WorkerID INT,
    @UAN VARCHAR(50) = NULL,
    @UniversalAccountName VARCHAR(100) = NULL,
    @PFNumber VARCHAR(50) = NULL,
    @ESINumber VARCHAR(50) = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(100)                      -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if PFID exists
    IF EXISTS (SELECT 1 FROM [dbo].[WorkerPF_ESI] WHERE PFID = @PFID)
    BEGIN
        -- Update existing PF/ESI record
        UPDATE [dbo].[WorkerPF_ESI]
        SET
            WorkerID = @WorkerID,
            UAN = @UAN,
            UniversalAccountName = @UniversalAccountName,
            PFNumber = @PFNumber,
            ESINumber = @ESINumber,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE PFID = @PFID;
    END
    ELSE
    BEGIN
        -- Insert new PF/ESI record
        INSERT INTO [dbo].[WorkerPF_ESI]
            (WorkerID, UAN, UniversalAccountName, PFNumber, ESINumber, IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@WorkerID, @UAN, @UniversalAccountName, @PFNumber, @ESINumber, @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new PFID
        SELECT SCOPE_IDENTITY() AS NewPFID;
    END
END
