
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateDoctorVerification]
    @VerificationID INT = NULL,         -- Pass NULL for new insert
    @WorkerID INT,
    @ExaminationDate DATE,
    @DoctorID INT = NULL,
    @OverallResult VARCHAR(50) = NULL,
    @PrescriptionAttached BIT = 0,
    @AcceptanceStatus VARCHAR(20) = NULL,
    @ResponseList dbo.DoctorVerificationResponseType READONLY, -- Table-valued parameter for responses
    @UserName VARCHAR(50) -- Optional for tracking
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if VerificationID exists
        IF EXISTS (SELECT 1 FROM dbo.Doctor_Medical_Verification WHERE verification_id = @VerificationID)
        BEGIN
            -- Update existing Doctor_Medical_Verification
            UPDATE dbo.Doctor_Medical_Verification
            SET
                worker_id = @WorkerID,
                examination_date = @ExaminationDate,
                doctor_id = @DoctorID,
                overall_result = @OverallResult,
                prescription_attached = @PrescriptionAttached,
                acceptance_status = @AcceptanceStatus
            WHERE verification_id = @VerificationID;

            -- Update Doctor_Verification_Response
            DELETE FROM dbo.Doctor_Verification_Response
            WHERE verification_id = @VerificationID;

            INSERT INTO dbo.Doctor_Verification_Response
                (verification_id, question_id, boolean_response, remarks)
            SELECT
                @VerificationID, question_id, boolean_response, remarks
            FROM @ResponseList;
        END
        ELSE
        BEGIN
            -- Insert new Doctor_Medical_Verification
            INSERT INTO dbo.Doctor_Medical_Verification
                (worker_id, examination_date, doctor_id, overall_result, prescription_attached, acceptance_status)
            VALUES
                (@WorkerID, @ExaminationDate, @DoctorID, @OverallResult, @PrescriptionAttached, @AcceptanceStatus);

            SET @VerificationID = SCOPE_IDENTITY();

            -- Insert related Doctor_Verification_Response
            INSERT INTO dbo.Doctor_Verification_Response
                (verification_id, question_id, boolean_response, remarks)
            SELECT
                @VerificationID, question_id, boolean_response, remarks
            FROM @ResponseList;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
