
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateEmergencyContact]
    @ContactID INT = NULL,                -- Pass NULL for new insert
    @WorkerID INT,
    @ContactName VARCHAR(100) = NULL,
    @Relation VARCHAR(50) = NULL,
    @MobileNumber VARCHAR(20) = NULL,
    @Address VARCHAR(255) = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(100)                      -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if ContactID exists
    IF EXISTS (SELECT 1 FROM [dbo].[EmergencyContact] WHERE ContactID = @ContactID)
    BEGIN
        -- Update existing emergency contact
        UPDATE [dbo].[EmergencyContact]
        SET
            WorkerID = @WorkerID,
            ContactName = @ContactName,
            Relation = @Relation,
            MobileNumber = @MobileNumber,
            Address = @Address,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE ContactID = @ContactID;
    END
    ELSE
    BEGIN
        -- Insert new emergency contact
        INSERT INTO [dbo].[EmergencyContact]
            (WorkerID, ContactName, Relation, MobileNumber, Address, IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@WorkerID, @ContactName, @Relation, @MobileNumber, @Address, @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new ContactID
        SELECT SCOPE_IDENTITY() AS NewContactID;
    END
END
