
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateNominee]
    @NomineeID INT = NULL,                      -- Pass NULL for new insert
    @WorkerID INT,
    @SameAsEmergencyContact BIT = 0,
    @SameAddressAsContact BIT = 0,
    @NomineeName VARCHAR(100) = NULL,
    @NomineeRelation VARCHAR(50) = NULL,
    @NomineeAddress VARCHAR(255) = NULL,
    @NomineeMobileNumber VARCHAR(20) = NULL,
    @NomineeDateOfBirth DATE = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(100)                          -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if NomineeID exists
    IF EXISTS (SELECT 1 FROM [dbo].[Nominee] WHERE NomineeID = @NomineeID)
    BEGIN
        -- Update existing nominee
        UPDATE [dbo].[Nominee]
        SET
            WorkerID = @WorkerID,
            SameAsEmergencyContact = @SameAsEmergencyContact,
            SameAddressAsContact = @SameAddressAsContact,
            NomineeName = @NomineeName,
            NomineeRelation = @NomineeRelation,
            NomineeAddress = @NomineeAddress,
            NomineeMobileNumber = @NomineeMobileNumber,
            NomineeDateOfBirth = @NomineeDateOfBirth,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE NomineeID = @NomineeID;
    END
    ELSE
    BEGIN
        -- Insert new nominee
        INSERT INTO [dbo].[Nominee]
            (WorkerID, SameAsEmergencyContact, SameAddressAsContact, NomineeName, NomineeRelation, NomineeAddress, NomineeMobileNumber, NomineeDateOfBirth, IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@WorkerID, @SameAsEmergencyContact, @SameAddressAsContact, @NomineeName, @NomineeRelation, @NomineeAddress, @NomineeMobileNumber, @NomineeDateOfBirth, @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new NomineeID
        SELECT SCOPE_IDENTITY() AS NewNomineeID;
    END
END
