
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateWorkerPermanentAddress]
    @AddressID INT = NULL,                -- Pass NULL for new insert
    @WorkerID INT,
    @Address1 VARCHAR(255) = NULL,
    @Address2 VARCHAR(255) = NULL,
    @Address3 VARCHAR(255) = NULL,
    @City VARCHAR(50) = NULL,
    @State VARCHAR(50) = NULL,
    @PinCode VARCHAR(10) = NULL,
    @Country VARCHAR(50) = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(100)                    -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if AddressID exists
    IF EXISTS (SELECT 1 FROM [dbo].[WorkerPermanentAddress] WHERE AddressID = @AddressID)
    BEGIN
        -- Update existing permanent address
        UPDATE [dbo].[WorkerPermanentAddress]
        SET
            WorkerID = @WorkerID,
            Address1 = @Address1,
            Address2 = @Address2,
            Address3 = @Address3,
            City = @City,
            State = @State,
            PinCode = @PinCode,
            Country = @Country,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE AddressID = @AddressID;
    END
    ELSE
    BEGIN
        -- Insert new permanent address
        INSERT INTO [dbo].[WorkerPermanentAddress]
            (WorkerID, Address1, Address2, Address3, City, State, PinCode, Country, IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@WorkerID, @Address1, @Address2, @Address3, @City, @State, @PinCode, @Country, @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new AddressID
        SELECT SCOPE_IDENTITY() AS NewAddressID;
    END
END
