
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateVendor]
    @VendorId INT = NULL,                 -- Pass NULL for new insert
    @VendorName VARCHAR(200),
    @ProjectId INT,
    @IsActive BIT = 1,
    @ContactNumber VARCHAR(20) = NULL,
    @Email VARCHAR(100) = NULL,
    @PFCode VARCHAR(50) = NULL,
    @BOCWCode VARCHAR(50) = NULL,
    @ISMWCode VARCHAR(50) = NULL,
    @UserId VARCHAR(50) = NULL             -- Optional: user performing action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if VendorId exists
    IF EXISTS (SELECT 1 FROM [dbo].[Vendors] WHERE VendorId = @VendorId)
    BEGIN
        -- Update existing vendor
        UPDATE [dbo].[Vendors]
        SET 
            VendorName = @VendorName,
            ProjectId = @ProjectId,
            IsActive = @IsActive,
            ContactNumber = @ContactNumber,
            Email = @Email,
            PFCode = @PFCode,
            BOCWCode = @BOCWCode,
            ISMWCode = @ISMWCode,
            UpdatedOn = GETDATE()
        WHERE VendorId = @VendorId;
    END
    ELSE
    BEGIN
        -- Insert new vendor
        INSERT INTO [dbo].[Vendors]
            (VendorName, ProjectId, IsActive, ContactNumber, Email, PFCode, BOCWCode, ISMWCode, CreatedOn)
        VALUES
            (@VendorName, @ProjectId, @IsActive, @ContactNumber, @Email, @PFCode, @BOCWCode, @ISMWCode, GETDATE());

        -- Optional: return new VendorId
        SELECT SCOPE_IDENTITY() AS NewVendorId;
    END
END
