
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateWorkerSkillVerification]
    @VerificationID INT = NULL,            -- Pass NULL for new insert
    @WorkerID INT,
    @SkillId INT,
    @SkillPerformance VARCHAR(50),
    @IsActive BIT = 1,
    @UserID INT                             -- User performing the action (CreatedBy/UpdatedBy)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if VerificationID exists
    IF EXISTS (SELECT 1 FROM [dbo].[WorkerSkillVerification] WHERE VerificationID = @VerificationID)
    BEGIN
        -- Update existing skill verification
        UPDATE [dbo].[WorkerSkillVerification]
        SET
            WorkerID = @WorkerID,
            SkillId = @SkillId,
            SkillPerformance = @SkillPerformance,
            IsActive = @IsActive,
            UpdatedBy = @UserID,
            UpdatedOn = GETDATE()
        WHERE VerificationID = @VerificationID;
    END
    ELSE
    BEGIN
        -- Insert new skill verification
        INSERT INTO [dbo].[WorkerSkillVerification]
            (WorkerID, SkillId, SkillPerformance, IsActive, CreatedBy, CreatedOn, UpdatedBy, UpdatedOn)
        VALUES
            (@WorkerID, @SkillId, @SkillPerformance, @IsActive, @UserID, GETDATE(), @UserID, GETDATE());

        -- Optional: return new VerificationID
        SELECT SCOPE_IDENTITY() AS NewVerificationID;
    END
END
