
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateCompany]
    @CompanyId INT = NULL,           -- Pass NULL for new insert
    @CompanyName VARCHAR(150),
    @CompanyCode VARCHAR(50),
    @Address VARCHAR(255) = NULL,
    @ContactNumber VARCHAR(20) = NULL,
    @EmailId VARCHAR(100) = NULL,
    @IsActive BIT = 1,
    @UserId VARCHAR(50)               -- User ID for CreatedBy / UpdatedBy
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if CompanyId exists
    IF EXISTS (SELECT 1 FROM [dbo].[Company] WHERE CompanyId = @CompanyId)
    BEGIN
        -- Update existing record
        UPDATE [dbo].[Company]
        SET 
            CompanyName = @CompanyName,
            CompanyCode = @CompanyCode,
            Address = @Address,
            ContactNumber = @ContactNumber,
            EmailId = @EmailId,
            IsActive = @IsActive,
            UpdatedAt = GETDATE(),
            UpdatedBy = @UserId
        WHERE CompanyId = @CompanyId;
    END
    ELSE
    BEGIN
        -- Insert new record
        INSERT INTO [dbo].[Company] 
            (CompanyName, CompanyCode, Address, ContactNumber, EmailId, IsActive, CreatedAt, CreatedBy)
        VALUES 
            (@CompanyName, @CompanyCode, @Address, @ContactNumber, @EmailId, @IsActive, GETDATE(), @UserId);
        
        -- Optional: Return the new CompanyId
        SELECT SCOPE_IDENTITY() AS NewCompanyId;
    END
END
