
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateUser]
    @UserId INT = NULL,                 -- Pass NULL for new insert
    @LoginID VARCHAR(50),
    @Name VARCHAR(100),
    @ProjectId INT,
    @RoleId INT,
    @MobileNo VARCHAR(20) = NULL,
    @EmailId VARCHAR(100) = NULL,
    @Gender VARCHAR(10) = NULL,
    @DateOfBirth DATE = NULL,
    @IsActive BIT = 1,
    @ProfilePicPath VARCHAR(MAX) = NULL,
    @UserIdAction VARCHAR(50)              -- User ID performing the action (CreatedBy/UpdatedBy)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if UserId exists
    IF EXISTS (SELECT 1 FROM [dbo].[Users] WHERE UserId = @UserId)
    BEGIN
        -- Update existing user
        -- Ensure LoginID uniqueness on update
        IF EXISTS (SELECT 1 FROM [dbo].[Users] WHERE LoginID = @LoginID AND UserId <> @UserId)
        BEGIN
            RAISERROR('LoginID already exists. Cannot update to duplicate.', 16, 1);
            RETURN;
        END

        UPDATE [dbo].[Users]
        SET 
            LoginID = @LoginID,
            Name = @Name,
            ProjectId = @ProjectId,
            RoleId = @RoleId,
            MobileNo = @MobileNo,
            EmailId = @EmailId,
            Gender = @Gender,
            DateOfBirth = @DateOfBirth,
            IsActive = @IsActive,
            ProfilePicPath = @ProfilePicPath,
            UpdatedAt = GETDATE(),
            UpdatedBy = @UserIdAction
        WHERE UserId = @UserId;
    END
    ELSE
    BEGIN
        -- Check if LoginID already exists to prevent duplicate
        IF EXISTS (SELECT 1 FROM [dbo].[Users] WHERE LoginID = @LoginID)
        BEGIN
            RAISERROR('LoginID already exists. Cannot insert duplicate.', 16, 1);
            RETURN;
        END

        -- Insert new user
        INSERT INTO [dbo].[Users]
            (LoginID, Name, ProjectId, RoleId, MobileNo, EmailId, Gender, DateOfBirth, IsActive, CreatedAt, CreatedBy, ProfilePicPath)
        VALUES
            (@LoginID, @Name, @ProjectId, @RoleId, @MobileNo, @EmailId, @Gender, @DateOfBirth, @IsActive, GETDATE(), @UserIdAction, @ProfilePicPath);
        
        -- Optional: Return the new UserId
        SELECT SCOPE_IDENTITY() AS NewUserId;
    END
END
