
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateWorker]
    @WorkerID INT = NULL,                  -- Pass NULL for new insert
    @AadhaarNumber VARCHAR(20),
    @ProjectID INT,
    @VendorID INT,
    @FullName VARCHAR(100),
    @FatherOrSpouseName VARCHAR(100) = NULL,
    @Gender VARCHAR(10) = NULL,
    @DateOfBirth DATE = NULL,
    @MaritalStatus VARCHAR(20) = NULL,
    @PlaceOfBirth VARCHAR(100) = NULL,
    @MotherTongue VARCHAR(50) = NULL,
    @Nationality VARCHAR(50) = NULL,
    @MobileNumber VARCHAR(20) = NULL,
    @TelephoneNumber VARCHAR(20) = NULL,
    @SeriousMedicalHistory VARCHAR(255) = NULL,
    @CovidDetails VARCHAR(255) = NULL,
    @NumOfDependents INT = NULL,
    @Religion VARCHAR(50) = NULL,
    @Photograph VARBINARY(MAX) = NULL,
    @IsOnboard BIT = 0,
    @HROnboardedBy VARCHAR(100) = NULL,
    @HROnboardedOn DATETIME = NULL,
    @OnboardRemark VARCHAR(255) = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(100)                        -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if WorkerID exists
    IF EXISTS (SELECT 1 FROM [dbo].[Worker] WHERE WorkerID = @WorkerID)
    BEGIN
        -- Update existing worker
        -- Ensure AadhaarNumber uniqueness on update
        IF EXISTS (SELECT 1 FROM [dbo].[Worker] WHERE AadhaarNumber = @AadhaarNumber AND WorkerID <> @WorkerID)
        BEGIN
            RAISERROR('AadhaarNumber already exists. Cannot update to duplicate.', 16, 1);
            RETURN;
        END

        UPDATE [dbo].[Worker]
        SET
            AadhaarNumber = @AadhaarNumber,
            ProjectID = @ProjectID,
            VendorID = @VendorID,
            FullName = @FullName,
            FatherOrSpouseName = @FatherOrSpouseName,
            Gender = @Gender,
            DateOfBirth = @DateOfBirth,
            MaritalStatus = @MaritalStatus,
            PlaceOfBirth = @PlaceOfBirth,
            MotherTongue = @MotherTongue,
            Nationality = @Nationality,
            MobileNumber = @MobileNumber,
            TelephoneNumber = @TelephoneNumber,
            SeriousMedicalHistory = @SeriousMedicalHistory,
            CovidDetails = @CovidDetails,
            NumOfDependents = @NumOfDependents,
            Religion = @Religion,
            Photograph = @Photograph,
            IsOnboard = @IsOnboard,
            HROnboardedBy = @HROnboardedBy,
            HROnboardedOn = @HROnboardedOn,
            OnboardRemark = @OnboardRemark,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE WorkerID = @WorkerID;
    END
    ELSE
    BEGIN
        -- Check if AadhaarNumber already exists to prevent duplicate
        IF EXISTS (SELECT 1 FROM [dbo].[Worker] WHERE AadhaarNumber = @AadhaarNumber)
        BEGIN
            RAISERROR('AadhaarNumber already exists. Cannot insert duplicate.', 16, 1);
            RETURN;
        END

        -- Insert new worker
        INSERT INTO [dbo].[Worker]
            (AadhaarNumber, ProjectID, VendorID, FullName, FatherOrSpouseName, Gender, DateOfBirth, MaritalStatus,
             PlaceOfBirth, MotherTongue, Nationality, MobileNumber, TelephoneNumber, SeriousMedicalHistory, CovidDetails,
             NumOfDependents, Religion, Photograph, IsOnboard, HROnboardedBy, HROnboardedOn, OnboardRemark,
             IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@AadhaarNumber, @ProjectID, @VendorID, @FullName, @FatherOrSpouseName, @Gender, @DateOfBirth, @MaritalStatus,
             @PlaceOfBirth, @MotherTongue, @Nationality, @MobileNumber, @TelephoneNumber, @SeriousMedicalHistory, @CovidDetails,
             @NumOfDependents, @Religion, @Photograph, @IsOnboard, @HROnboardedBy, @HROnboardedOn, @OnboardRemark,
             @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new WorkerID
        SELECT SCOPE_IDENTITY() AS NewWorkerID;
    END
END
