
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateSkillMaster]
    @SkillId INT = NULL,                   -- Pass NULL for new insert
    @SkillName VARCHAR(100),
    @Description VARCHAR(255) = NULL,
    @SkillCategoryId INT,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if SkillId exists
    IF EXISTS (SELECT 1 FROM [dbo].[SkillMaster] WHERE SkillId = @SkillId)
    BEGIN
        -- Update existing skill
        UPDATE [dbo].[SkillMaster]
        SET
            SkillName = @SkillName,
            Description = @Description,
            SkillCategoryId = @SkillCategoryId,
            IsActive = @IsActive,
            UpdatedOn = GETDATE()
        WHERE SkillId = @SkillId;
    END
    ELSE
    BEGIN
        -- Insert new skill
        INSERT INTO [dbo].[SkillMaster]
            (SkillName, Description, SkillCategoryId, IsActive, CreatedOn)
        VALUES
            (@SkillName, @Description, @SkillCategoryId, @IsActive, GETDATE());

        -- Optional: return new SkillId
        SELECT SCOPE_IDENTITY() AS NewSkillId;
    END
END
