USE [Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertOrUpdateWorkerBankDetails]    Script Date: 14-10-2025 18:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateWorkerBankDetails]
    @BankID INT = NULL,                  -- Pass NULL for new insert
    @WorkerID INT,
    @AccountHolderName VARCHAR(100) = NULL,
    @AccountNumber VARCHAR(50) = NULL,
    @IFSCCode VARCHAR(20) = NULL,
    @BankName VARCHAR(100) = NULL,
    @BankAddress VARCHAR(255) = NULL,
    @PostalCode VARCHAR(10) = NULL,
    @City VARCHAR(50) = NULL,
    @State VARCHAR(50) = NULL,
    @Country VARCHAR(50) = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(100)                    -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if BankID exists
    IF EXISTS (SELECT 1 FROM [dbo].[WorkerBankDetails] WHERE BankID = @BankID)
    BEGIN
        -- Update existing bank details
        UPDATE [dbo].[WorkerBankDetails]
        SET
            WorkerID = @WorkerID,
            AccountHolderName = @AccountHolderName,
            AccountNumber = @AccountNumber,
            IFSCCode = @IFSCCode,
            BankName = @BankName,
            BankAddress = @BankAddress,
            PostalCode = @PostalCode,
            City = @City,
            State = @State,
            Country = @Country,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE BankID = @BankID;
    END
    ELSE
    BEGIN
        -- Insert new bank details
        INSERT INTO [dbo].[WorkerBankDetails]
            (WorkerID, AccountHolderName, AccountNumber, IFSCCode, BankName, BankAddress,
             PostalCode, City, State, Country, IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@WorkerID, @AccountHolderName, @AccountNumber, @IFSCCode, @BankName, @BankAddress,
             @PostalCode, @City, @State, @Country, @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new BankID
        SELECT SCOPE_IDENTITY() AS NewBankID;
    END
END
