
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateEHSVerification]
    @EHSVerificationID INT = NULL,              -- Pass NULL for new insert
    @WorkerID INT,
    @VendorID INT = NULL,
    @EHSInCharge VARCHAR(150) = NULL,
    @HeightTest DECIMAL(5,2) = NULL,
    @MedicalVerificationDoneBy VARCHAR(150) = NULL,
    @DoctorVerificationDoneBy VARCHAR(150) = NULL,
    @WorkForceCreatedBy VARCHAR(150) = NULL,
    @SkillVerificationDoneBy VARCHAR(150) = NULL,
    @SafetyInductionConductedOn DATE = NULL,
    @Remark VARCHAR(500) = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(150)                              -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if EHSVerificationID exists
    IF EXISTS (SELECT 1 FROM [dbo].[EHSVerification] WHERE EHSVerificationID = @EHSVerificationID)
    BEGIN
        -- Update existing record
        UPDATE [dbo].[EHSVerification]
        SET
            WorkerID = @WorkerID,
            VendorID = @VendorID,
            EHSInCharge = @EHSInCharge,
            HeightTest = @HeightTest,
            MedicalVerificationDoneBy = @MedicalVerificationDoneBy,
            DoctorVerificationDoneBy = @DoctorVerificationDoneBy,
            WorkForceCreatedBy = @WorkForceCreatedBy,
            SkillVerificationDoneBy = @SkillVerificationDoneBy,
            SafetyInductionConductedOn = @SafetyInductionConductedOn,
            Remark = @Remark,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE EHSVerificationID = @EHSVerificationID;
    END
    ELSE
    BEGIN
        -- Insert new record
        INSERT INTO [dbo].[EHSVerification]
            (WorkerID, VendorID, EHSInCharge, HeightTest, MedicalVerificationDoneBy, DoctorVerificationDoneBy, WorkForceCreatedBy, SkillVerificationDoneBy, SafetyInductionConductedOn, Remark, IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@WorkerID, @VendorID, @EHSInCharge, @HeightTest, @MedicalVerificationDoneBy, @DoctorVerificationDoneBy, @WorkForceCreatedBy, @SkillVerificationDoneBy, @SafetyInductionConductedOn, @Remark, @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new EHSVerificationID
        SELECT SCOPE_IDENTITY() AS NewEHSVerificationID;
    END
END
