
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateWorkerKYC]
    @KYCID INT = NULL,                     -- Pass NULL for new insert
    @WorkerID INT,
    @PANNumber VARCHAR(20) = NULL,
    @VoterID VARCHAR(20) = NULL,
    @DrivingLicense VARCHAR(20) = NULL,
    @PassportNumber VARCHAR(20) = NULL,
    @IsActive BIT = 1,
    @UserID VARCHAR(100)                      -- User performing the action
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if KYCID exists
    IF EXISTS (SELECT 1 FROM [dbo].[WorkerKYC] WHERE KYCID = @KYCID)
    BEGIN
        -- Update existing KYC record
        UPDATE [dbo].[WorkerKYC]
        SET
            WorkerID = @WorkerID,
            PANNumber = @PANNumber,
            VoterID = @VoterID,
            DrivingLicense = @DrivingLicense,
            PassportNumber = @PassportNumber,
            IsActive = @IsActive,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UserID
        WHERE KYCID = @KYCID;
    END
    ELSE
    BEGIN
        -- Insert new KYC record
        INSERT INTO [dbo].[WorkerKYC]
            (WorkerID, PANNumber, VoterID, DrivingLicense, PassportNumber, IsActive, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
        VALUES
            (@WorkerID, @PANNumber, @VoterID, @DrivingLicense, @PassportNumber, @IsActive, GETDATE(), @UserID, GETDATE(), @UserID);

        -- Optional: return new KYCID
        SELECT SCOPE_IDENTITY() AS NewKYCID;
    END
END
