
ALTER PROCEDURE [dbo].[sp_InsertOrUpdateWorkerHealthCheck]
    @VerificationID INT = NULL,              -- Pass NULL for new insert
    @WorkerID INT,
    @HealthCheckDate DATE,
    @WeightKg DECIMAL(5,2) = NULL,
    @HeightCm DECIMAL(5,2) = NULL,
    @SkinTemperatureDegC DECIMAL(4,1) = NULL,
    @RespiratoryRate INT = NULL,
    @BP_Systolic INT = NULL,
    @BP_Diastolic INT = NULL,
    @BMI DECIMAL(5,2) = NULL,
    @SPO2 DECIMAL(4,1) = NULL,
    @BloodGroup VARCHAR(5) = NULL,
    @FastingBloodSugar DECIMAL(5,2) = NULL,
    @PostprandialBloodSugar DECIMAL(5,2) = NULL,
    @RandomBloodSugar DECIMAL(5,2) = NULL,
    @IsActive BIT = 1,
    @UserID INT                             -- User performing the action (CreatedBy/UpdatedBy)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if VerificationID exists
    IF EXISTS (SELECT 1 FROM [dbo].[WorkerHealthCheck] WHERE VerificationID = @VerificationID)
    BEGIN
        -- Update existing health check record
        UPDATE [dbo].[WorkerHealthCheck]
        SET
            WorkerID = @WorkerID,
            HealthCheckDate = @HealthCheckDate,
            WeightKg = @WeightKg,
            HeightCm = @HeightCm,
            SkinTemperatureDegC = @SkinTemperatureDegC,
            RespiratoryRate = @RespiratoryRate,
            BP_Systolic = @BP_Systolic,
            BP_Diastolic = @BP_Diastolic,
            BMI = @BMI,
            SPO2 = @SPO2,
            BloodGroup = @BloodGroup,
            FastingBloodSugar = @FastingBloodSugar,
            PostprandialBloodSugar = @PostprandialBloodSugar,
            RandomBloodSugar = @RandomBloodSugar,
            IsActive = @IsActive,
            UpdatedBy = @UserID,
            UpdatedOn = GETDATE()
        WHERE VerificationID = @VerificationID;
    END
    ELSE
    BEGIN
        -- Insert new health check record
        INSERT INTO [dbo].[WorkerHealthCheck]
            (WorkerID, HealthCheckDate, WeightKg, HeightCm, SkinTemperatureDegC, RespiratoryRate,
             BP_Systolic, BP_Diastolic, BMI, SPO2, BloodGroup, FastingBloodSugar, PostprandialBloodSugar,
             RandomBloodSugar, IsActive, CreatedBy, CreatedOn)
        VALUES
            (@WorkerID, @HealthCheckDate, @WeightKg, @HeightCm, @SkinTemperatureDegC, @RespiratoryRate,
             @BP_Systolic, @BP_Diastolic, @BMI, @SPO2, @BloodGroup, @FastingBloodSugar, @PostprandialBloodSugar,
             @RandomBloodSugar, @IsActive, @UserID, GETDATE());

        -- Optional: return new VerificationID
        SELECT SCOPE_IDENTITY() AS NewVerificationID;
    END
END
